//Imports
@import "utility/keyframes";
@import "utility/variables";
@import "utility/mixins";
@import "utility/typography";
@import "utility/default";

@import "blocks/navigation";
@import "blocks/buttons";
@import "blocks/searchform";


html {
  font-size: $html-font-size;
  max-width: 100%;
  overflow-x: hidden;

  body {
    @include bodyfont();
  }
}



ul, ol {
  @include typography();
  padding-left: 40px;
}

strong, b {
  font-weight: 600;
}

i, em {
  font-style: italic;
}

a {
  transition: all .4s ease;
  color: $black;
}





section, nav {
  width: 100%;
  margin: 50px 0;
}

.container {
  width: 100%;
  max-width: $container-max;
  margin: 0 auto;
  padding: 0 $container-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $container-gap;
}

article {
  flex: 0 auto;
}

