//Imports
@import "utility/normalize";
@import "utility/keyframes";
@import "utility/variables";
@import "utility/mixins";
@import "utility/typography";
@import "utility/defaults";
@import "utility/accessibility";

@import "parts/button";
@import "parts/search";

html {
  font-size: $html-font-size;
  overflow-x: hidden;

  body {
    @include bodyfont();
  }
}

ul, ol {
  @include typography();
  padding-left: 40px;
}

strong, b {
  font-weight: 600;
}

i, em {
  font-style: italic;
}

a {
  transition: all .4s ease;
  color: var(--tmpl--aspect--link-color);
}

section, nav, header, footer {
  position: relative;
  width: 100%;

  .container {
    width: 100%;
    max-width: $container-max;
    padding: 0 $container-padding;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: $container-gap;

    &.wide {
      max-width: 1500px;
    }

    &.full {
      max-width: 100%;
    }

    article, > div {
      position: relative;
      flex: 1 1 300px;
    }
  }
}

p#breadcrumbs {
  margin-bottom: 10px;
}

section {
  margin-top: 100px;
}

