@mixin typography() {
  padding: 0;
  margin: var(--tmpl--aspect--text-spacing);
}

@mixin bodyfont() {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  //@include font-size(1.8, 0.4);
  font-size: var(--tmpl--preset--font-size--paragraph);
  line-height: var(--tmpl--preset--line-height--paragraph);
  font-weight: 400;
  color: var(--tmpl--color--black);
  @include mobile() {
    @include font-size(1.6, 0.4);
  }
}

@mixin paragraph() {
  @include font-size(1.8, 1);
  @include tabletLandscape {
    @include font-size(1.6, 1);
  }
  @include mobile() {
    @include font-size(1.4, 1);
  }
  &.large {
    @include font-size(2.2, 0.4);
    @include tabletLandscape {
      @include font-size(2, 0);
    }
    @include mobile() {
      @include font-size(1.8, 0);
    }
  }
}

@mixin h1 {
  @include font-size(7, 0);
  @include tabletLandscape {
    @include font-size(6, 0);
  }
  @include mobile() {
    @include font-size(5, 0);
  }
}

@mixin h2 {
  @include font-size(5, 0.4);
  @include tabletLandscape {
    @include font-size(4, 0);
  }
  @include mobile() {
    @include font-size(3, 0);
  }
}

@mixin h3 {
  @include font-size(3, 0.4);
  @include tabletLandscape {
    @include font-size(2.5, 0);
  }
  @include mobile() {
    @include font-size(2.2, 0);
  }
}

@mixin h4 {
  @include font-size(2.2, 0.4);
  @include tabletLandscape {
    @include font-size(2, 0);
  }
  @include mobile() {
    @include font-size(1.8, 0);
  }
}

h1, h2, h3, h4, h5, p {
  @include typography();
}

p {
  //@include paragraph();
  font-size: var(--tmpl--preset--font-size--paragraph);
  line-height: var(--tmpl--preset--line-height--paragraph);
}

h1, .h1 {
  //@include h1;
  font-size: var(--tmpl--preset--font-size--h1);
  line-height: var(--tmpl--preset--line-height--h1);
}

h2, .h2 {
  //@include h2;
  font-size: var(--tmpl--preset--font-size--h2);
  line-height: var(--tmpl--preset--line-height--h2);

}

h3, .h3 {
  //@include h3;
  font-size: var(--tmpl--preset--font-size--h3);
  line-height: var(--tmpl--preset--line-height--h3);
}

h4, .h4,
h5, .h5,
h6, .h6 {
  //@include h4;
    font-size: var(--tmpl--preset--font-size--h4);
    line-height: var(--tmpl--preset--line-height--h4);
}