//Defaults
$container-max: 1200px;
$container-padding: 50px;
$container-gap : 50px;
$radius: 5px;

//Colors
$bg : #f2f2f2;
$white : #ffffff;
$black : #000000;
$blue : #0091FF;
$grey: #6D7278;
$border : #979797;


