.button {
  display: inline-flex;
  padding: 16px 30px;
  margin-bottom: 25px;
  -webkit-appearance: none;
  background: $black;
  color: $white;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}